
.form--login {
  width: 96vw;
  max-width: 20rem;
}
.form__actions {
  text-align: right;
  margin-top: 4rem;
}
.form__input {
  & + & {
    margin-top: 2rem;
  }
}

.form__error {
  margin-top: 2rem;
  background: rgba(#fff, .07);
  padding: .5rem;
}

.inputControl {
  display: block;


  &__label {
    text-transform: uppercase;
    font-weight: 700;
    color: var(--color-pri);
    font-size: .6rem;
  }

  &__textinput {
    border: none;
    border-bottom: 1px solid var(--color-pri);
    background: none;
    display: block;
    width: 100%;
    font-size: 1.6rem;
    color: var(--color-text);
    font-weight: 700;


    &:focus {
      border-bottom-color: var(--color-focus);
    }
  }
}

.button {
  background: none;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--color-sec);
  font-size: 1rem;
  cursor: pointer;
  &:hover, &:focus {
    color: var(--color-focus);
    outline: none;

  }
  &::-moz-focus-inner {
    border: none;
  }
  &:active {
    transform: translateY(2px);
  }
}